# Conditonal statements

1) If statement

In [ ]:
marks=int(input("enter marks: "))
passed= 50
distinction =90

In [ ]:
if marks >= distinction:
    print("topper")
if marks >= passed and marks < distiction:
    print("pass")
    
if marks < passed:
    print("fail")

In [ ]:
statement="baru is bad girl"
if 'bad' in statement:
    print("bad review")

In [ ]:
'z' in "hello"

2)If else statement

In [ ]:
n=int(input("enter number"))
if n%2==0:
    print("even")
else:
    print("odd")

In [ ]:
if None:
    print("true")
else:
    print("false")

# Check the number if it is even divisble by 4 or not and if it is odd is it divisible by 3 or not

In [ ]:
n=int(input("enter number"))
if n%2==0:
    if n%4==0:
        print("n is even and divisible by 4")
    else:
        print("n is even and not divisible by 4")
else:
    if n%3==0:
        print(" n is odd and divisible by 3")
    else:
        print("n is odd and not divisible by 3")

# Check the given year is leap or not

In [ ]:
n=int(input("enter year"))
if n%400==0 or n%4==0 and n%100!=0:
    print("leap")
else:
    print("not leap")

# Check if a number exists in given range(inclusive)

In [ ]:
n=int(input("enter number"))
lb=50
ub=123
if n>=lb and n<=ub:
    print("n is in given range")
else:
    print("n is not in range")

# Check if the given number is multiple of 10 or not

In [ ]:
n=int(input("eneter number"))
if n%10==0:
    print("it is multiple of 10")
else:
    print("not a multiple of 10")

# Check if the number is factor of 100 or not

In [ ]:
n=int(input("enter number"))
if 100%n==0:
    print(n,"is a factor of 100")
else:
    print(n,"is not a factor of 100")

# Check the given string and number string length is equal or not

In [ ]:
n=123456
s="python"
q=len(str(n))
if q==len(s):
    print("equal")
else:
    print("not equal")

# Calculate the number of nano seconds in a given year

In [ ]:
y=int(input("enter a year"))
if y%400==0 or y%4==0 and y%100!=0:
    print(366*24*60*60*(10**-9))
else:
    print(365*24*60*60(10**-9))

3)Elif statement

# Print the greatest of 3 numbers

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

# Print the grades based on marks

In [ ]:
m=int(input("enter marks"))
if m>=90 and m<100:
    print("distinciton")
elif m<=80 and m>=75:
    print("a")
elif m>50 and m<75:
    print("b")
elif m>35 and m<=50:
    print ("c")
else:
    print("d")

4)Nested if

# Check the number is positive or negitive or zero

In [ ]:
n=int(input("enter number"))
if n>=0:
    if n>0:
        print("positive")
    else:
        print("zero")
else:
    print("negative")

# Tasks

# Square root of a given number

In [ ]:
n=int(input("enter number"))
if n>0:
    print(n ** 0.5)
else:
    print("square root not possible for negative numbers")

# Count number of digits in a number

In [ ]:
n=int(input("enter a number"))
if n>1:
    print(len(str(n)))
else:
    print(1)

# Iterations/Loops

In [ ]:
range(5) #0,1,2,3,4
range(1,4)# 1,2,3,4

1) For loop

In [ ]:
for i in range(5):
    print(i)

In [ ]:
s1= "helllo"
for i in s1:
    print(i)

In [ ]:
s=input("enter string")
for i in s:
    print(i,end=',')

In [ ]:
s2="b,a,r,u"
for i in s2:
    print(i,end=',')

In [ ]:
print(43,56,sep=',')
print(45,34)

In [ ]:
for i in range(1,11):
    if i%2==0:
        print(i)

In [ ]:
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

In [ ]:
for i in range(2,11,2):
        print(i,end=" ")

In [ ]:
for i in range(1,11,3):
    print(i,end=",")

In [ ]:
for i in range(7,1000,7):
    print(i,end=',')

In [ ]:
for i in range(7,1000,7):
    if i%2==0:
        print(i,end=',')

In [ ]:
for i in range(994,6,-7):
    print(i,end=" ")

In [ ]:
for i in range(50,100,2):
    print(i,end=" ")

In [ ]:
for i in range(98,49,-2):
    print(i,end=" ")

2) While loop

In [ ]:
i=1
while i<=10:
    print(i,end=" ")
    i+=1

In [3]:
i=3
while i<=100:
    if i%3==0:
        print(i,end=" ")
    i+=1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [1]:
i=3
while i<=100:
    print(i,end=" ")
    i+=3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [4]:
i=99
while i>=3:
    print(i,end=" ")
    i-=3

99 96 93 90 87 84 81 78 75 72 69 66 63 60 57 54 51 48 45 42 39 36 33 30 27 24 21 18 15 12 9 6 3

In [15]:
s="hello"
i=0
while i<len(s):
    print(s[i])
    i=i+1

h
e
l
l
o

# function to print n natural numbers using for loop

In [4]:
def natural(n):
    for i in range(1,n):
        print(i)
natural(5)

1
2
3
4

# function to print n natural numbers using while loop

In [1]:
def natural(n):
    i=1
    while i<=n:
        print(i)
        i=i+1
natural(3)

1
2
3

# Function to print alternate value in the range in the same line 
# range(500,550) -> 500,501,502,...549
# start with inclusive and end with exclusive

In [12]:
def alternate(start,end):
    for i in range(start,end,2):
        print(i,end=",")
alternate(500,550)

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,

# Tasks

# Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.

In [23]:
for i in range(1,50):
    if i%3==0 and i%5==0:
        print(i,'fizz buzz')
    else:
        if i%3==0:
            print(i,"fizz")
        if i%5==0:
            print(i,"Buzz")

3 fizz
5 Buzz
6 fizz
9 fizz
10 Buzz
12 fizz
15 fizz buzz
18 fizz
20 Buzz
21 fizz
24 fizz
25 Buzz
27 fizz
30 fizz buzz
33 fizz
35 Buzz
36 fizz
39 fizz
40 Buzz
42 fizz
45 fizz buzz
48 fizz

# Program to print the multiplication table from range between 10 to 20                (Ex: 3 x 10 = 30….)

In [2]:
def mul(n):
    for i in range(10,21):
        print(n*i,end=',')
mul(3)

30,33,36,39,42,45,48,51,54,57,60,

## Program print n number of iterations using while loop with if statement.
Example : a=1,b=1 two variables  b==4 loop terminated

In [2]:
a=1
b=1
while(a<=4 and b<=4):
    if(a==4 and b==4):
        break
    else:
        print(a,b)
    a+=1
    b+=1

1 1
2 2
3 3

# Function to print reverse of given range in the same line

In [3]:
def reverse(n):
    for i in range(n,0,-1):
        print(i,end=" ")
reverse(10)

10 9 8 7 6 5 4 3 2 1

# Function to print the odd numbers in reverse order

In [10]:
def odd(n):
    for i in range(n,0,-2):
        print(i,end=" ")
odd(11)

11 9 7 5 3 1

## Function to calculate the sum of numbers in a range

In [8]:
def sum(n):
    s=0
    for i in range(1,n):
        s=s+i
    print(s)
sum(11)

55

## Function to calculate the average of a given range (1,5) -> 3

In [9]:
def avg(n):
    s=0
    for i in range(1,n):
        s=s+i
    print(s/i)
avg(6)

3.0

## Function to generate the sum of factors for a given number 12 -> 1 2 3 4 6 12

In [18]:
def sum(n):
    s=0
    for i in range(1,n+1):
        if n%i==0:
            s=s+i
    print(s)
sum(12)

28

## Function to check if a given number is Prime

In [21]:
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        print("prime")
prime(7)

prime

## Function to calculate the average of first N Prime numbers

In [23]:
def average(n):
    s=0
    k=0
    for i in range(1,n+1):
        c=0
        for j in range(1,i+1):
            if i%j==0:
                c=c+1
        if c==2:
            s=s+i
            k=k+1
    return s/k        
average(5)

3.3333333333333335

## Function to generate all Perfect numbers in a given range
Perfect Number - Sum of all its factors is equal to the number itself
6 - 1, 2, 3
lb, ub

In [29]:
def perfect(n):
    for i in range(1,n+1):
        s=0
        for j in range(1,i):
            if i%j==0:
                s=s+j
        if s==i:
            print(i)
perfect(28)

6
28