# Data structures

1)List

In [5]:
li=[]
type(li)

list

In [6]:
li #Access the entire list

[]

In [8]:
li=[1,2,3,4,5]
li[0] # index of list starts fron 0

1

In [10]:
li[0:] # accessing all elements

[1, 2, 3, 4, 5]

In [12]:
li[::-1] #reverse of a list

[5, 4, 3, 2, 1]

In [15]:
li[::2] # step of 1

[1, 3, 5]

In [18]:
li[1::3] #from index 1 step of 3

[2, 5]

In [19]:
name="venky"

In [20]:
mylist=[]

In [21]:
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [22]:
mylist=list()
type(mylist)

list

In [35]:
name=["baru","venky"]
type(name)

list

In [25]:
len(name)

2

In [26]:
name[0]

'baru'

In [27]:
name[1]

'venky'

# List methods

## Append
-To add new item in the available list

In [36]:
name

['baru', 'venky']

In [38]:
name.append('sri')

In [39]:
name

['baru', 'venky', 'sri']

In [40]:
new=["gayathri","rani"]

In [41]:
name.append(new)

In [42]:
name

['baru', 'venky', 'sri', ['gayathri', 'rani']]

In [43]:
len(name)

4

## Extend method

In [44]:
names=["baru","tripura","bala"]

In [47]:
persons=["venky","sundari"]

In [48]:
names.extend(persons)

In [49]:
names

['baru', 'tripura', 'bala', 'venky', 'sundari']

In [50]:
len(names)

5

## Copy()

In [51]:
m=[23,45,46,13,67]

In [52]:
marks=m.copy()

In [53]:
marks

[23, 45, 46, 13, 67]

In [54]:
m

[23, 45, 46, 13, 67]

In [55]:
girls=["jaya","veera"]

In [56]:
girls

['jaya', 'veera']

In [57]:
girls[0]="baru"

In [58]:
girls

['baru', 'veera']

# Clear()
.To remove all items in a list

In [60]:
girls.clear()

In [61]:
girls

[]

# Count(item)
- It can search for given item and return the number of occurances in a list

In [66]:
girls=["banu","ravi","raju","banu"]

In [67]:
print(girls)

['banu', 'ravi', 'raju', 'banu']

In [68]:
girls.count("banu")

2

In [69]:
number=[1,2,3,[4,5,3]]

In [70]:
number.count(3)

1

## Index(item,start_index_for_searching)
- returb index of first occurance of the item in list if available otherwise value shows error

In [73]:
number.index(3)

2

In [77]:
num=[1,3,4,5,7,4,3]
num.index(4,1)

2

In [78]:
num=[1,3,4,5,7,4,3]
num.index(4,5)

5

## insert(index_value,item)
-if given index available it can add item at given index otherwise it add last index

In [79]:
num.insert(0,9)

In [80]:
num

[9, 1, 3, 4, 5, 7, 4, 3]

In [83]:
num.insert(300,4)

In [84]:
num

[9, 1, 3, 4, 5, 7, 4, 3, 4]

## Pop()
-remove the element at the specific position

In [87]:
good_girls=["baru","sandy","mandy"]
good_girls.pop(2)

'mandy'

In [88]:
good_girls

['baru', 'sandy']

## Remove()
- remove specific item

In [92]:
bad=["venky","ram","ravi","venky"]
bad.remove("venky")

In [93]:
bad

['ram', 'ravi', 'venky']

## reverse()

In [94]:
active=["bharathi","hari","preeti"]

In [95]:
active.reverse()

In [96]:
active

['preeti', 'hari', 'bharathi']

## Sort()
- sort the list in alphabetically

In [97]:
active.sort()

In [98]:
active

['bharathi', 'hari', 'preeti']

In [100]:
active.sort(reverse=True)
active

['preeti', 'hari', 'bharathi']

In [106]:
marks=[[12,34],[15,32],[9,78]]
marks.sort()
marks

[[9, 78], [12, 34], [15, 32]]

## Examples

In [108]:
# Funciton to identify the second largest element ina unique list
# sort the data and select the second last element
#sort the data in reverse order and select the second element

In [111]:
li=[1,2,3,4,5]

In [113]:
def secondlargest(li):
    li.sort()
    return li[-2]
secondlargest(li)

4

In [114]:
# fucnction remove the max and then get the max of the new list
def secondlargestlist(li):
    li.sort()
    return li[-2]
# Funciton that returns nth largest 
def lar(li,n):
    li.sort()
    return li[-n]
secondlargestlist(li)
lar(li,5)

1

In [120]:
s="1 2 4 5 6"
li=s.split()
numberlist=[]
for i in li:
    numberlist.append(int(i))
numberlist

[1, 2, 4, 5, 6]

# Tasks

## Given list contains all electronic items[mobile,laptop,speakers,door,files]. If you find any item which is not related to electronics then remove it using slicing method.

In [1]:
l=["mobile","laptop","speakers","door","files"]
l.remove("mobile")
l.remove("laptop")
l.remove("speakers")
l

['door', 'files']

## Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]

In [7]:
l1=[10,20,34,44,88]
l1.sort()
print(l1)
print(len(l1))
print(l1[0])
print(l1[4])

[10, 20, 34, 44, 88]
5
10
88

## Take a list of elements and add that list into another empty list

In [11]:
l2=[]
l2=l1.copy()
print(l2)

[10, 20, 34, 44, 88]

## Sort the list of elements in ascending order and descending order.

In [15]:
 l=[1,4,2,0,4]
l.sort()
print(l)
print(l[::-1])

[0, 1, 2, 4, 4]
[4, 4, 2, 1, 0]

## Given a two list of equal size create a set such that it shows the element from both lists in the pair

In [31]:
a=[1,2]
b=[6,7]
c=[1,6]
d=[2,7]
e=[]
e.append(c)
e.append(d)
e

[[1, 6], [2, 7]]

## Write a python program to print the sum and average of elements in the list

In [18]:
l=[1,4,3,9]
s=0
for i in range(0,len(l)):
    s=s+l[i]
print(s)
print(s/len(l))

17
4.25

#You are given three numbers, a, b and c. 

#Write a program to find the largest number 

# which is less than or equal to c and leaves

# remainder b when divided by a.
3  2  9

9 % 3 == 0

8 % 3 == 2

In [2]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    max=a
    print(max)
elif b>a and b>c:
    max=b
    print(max)
else:
    max=c
    print(max)
while(max>0):
    if max<=c and max%a==b:
        print(max)
        break
    else:
        max=max-1

3
2
9
9
8