# Dictionaries

In [8]:
d1={}
d1={'key1':'value1','key2':'value2'}
d2={1:2,2:45,3:45}
d2[2]
d1['key2']

'value2'

## Dictionary methods

* get()

In [12]:
d1={'k1':100,'k2':200,'k3':300}
d2=d1.get('k3')
d2

300

- keys(),values()and items()

In [17]:
d1.items()
d1.values()
d1.keys()

dict_keys(['k1', 'k2', 'k3'])

- update()
- setdefault()
- copy()

In [30]:
student={'name':'baru','id':251,'branch':'ece'}
student.update({'id':1})
student.update({'age':19})
student

{'name': 'baru', 'id': 1, 'branch': 'ece', 'age': 19}

In [31]:
student.setdefault('age',20)
student

{'name': 'baru', 'id': 1, 'branch': 'ece', 'age': 19}

In [33]:
s2=student.copy()
s2

{'name': 'baru', 'id': 1, 'branch': 'ece', 'age': 19}

- popitems()
- pop()
- clear()

In [36]:
d={1:'a',2:'b',3:'c'}
d.popitem()
d

{1: 'a', 2: 'b'}

In [37]:
d.pop(1)
d

{2: 'b'}

In [39]:
d.clear()
d

{}

In [41]:
d1={'name':'baru','name1':'venky'}
d2={'pin':1,'pin1':32}
d1.update(d2)
d1

{'name': 'baru', 'name1': 'venky', 'pin': 1, 'pin1': 32}

In [44]:
d1={'name':'baru','name1':'venky'}
d2={'pin':1,'pin1':32}
d3={'branch':'cse','branch1':'ece'}
d4={'gpa':9,'gpa1':6}
d1.update(d2)
d1.update(d3)
d1.update(d4)
d1

{'name': 'baru',
 'name1': 'venky',
 'pin': 1,
 'pin1': 32,
 'branch': 'cse',
 'branch1': 'ece',
 'gpa': 9,
 'gpa1': 6}

In [45]:
d1={'name':'baru','name1':'venky'}
d2={'pin':1,'pin1':32}
d3={'branch':'cse','branch1':'ece'}
d4={'gpa':9,'gpa1':6}
d5={}
for key in d1,d2,d3,d4:
    d5.update(key)
print(d5)

{'name': 'baru', 'name1': 'venky', 'pin': 1, 'pin1': 32, 'branch': 'cse', 'branch1': 'ece', 'gpa': 9, 'gpa1': 6}

## python program to bulild a contacts application

In [53]:
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('contact added')
    else:
        print("contact already exist")
    return
addcontacts('baru',9666353801)
addcontacts('baru',9666353801)
print(contacts)
name=input()
if name in contacts:
    print("existed")
else:
    print("not existed")

contact added
contact already exist
{'baru': 9666353801}
baru
existed

In [62]:
students={1:['anu','cse'],2:['sandy','ece'],3:['mandy','civil']}
for i in students:
    print(i,':',students[i])

1 : ['anu', 'cse']
2 : ['sandy', 'ece']
3 : ['mandy', 'civil']

In [63]:
d={}
for i in range(1,11):
    d[i]=i+2
print(d)

{1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11, 10: 12}

In [67]:
d1={'n1':100,'n2':200,'n3':400}
s=0
c=0
for i in d1:
    s=s+d1[i]
    c=c+1
print(s/c)

233.33333333333334

In [74]:
d1={'n1':100,'n2':200,'n3':400}
s=sum(d1.values())
print(s/len(d1))

233.33333333333334