# Tuples
- collection of elements which is ordered and unchageable

In [5]:
t=(10,20,30)
print(t)
type(t)
for each in t:
    print(each)

(10, 20, 30)
10
20
30

In [6]:
t[0:3:2]

(10, 30)

In [9]:
t1=("baru","venky",30,54)
print(t1[0])
print(len(t1))
t.count(4)

baru
4

0

In [11]:
city_tuple=("delhi",12,"hyd","chennai")
b=city_tuple[:-1]
print(b)
print(len(b))

('delhi', 12, 'hyd')
3

In [26]:
c=list(b)
print(c)
print("c is:{0}".format(c))

['delhi', 12, 'hyd']
c is:['delhi', 12, 'hyd']

In [25]:
c=tuple(c)
print(c)
print("c is now a tuple:{0}".format(c))

c is now a tuple:('delhi', 12, 'hyd')
('delhi', 12, 'hyd')
c is now a tuple:('delhi', 12, 'hyd')

In [20]:
x=("baru","venky","gayathri")
y=list(x)
y[1]="rani"
x=tuple(y)
print(x)

('baru', 'rani', 'gayathri')

In [21]:
if "jaya" in x:
    print("yes")
else:
    print("no")

no

In [23]:
y=(10,20,30,40)
y[2]=45
print(y)

TypeError: 'tuple' object does not support item assignment

In [29]:
y
del y
print(y)

NameError: name 'y' is not defined

In [31]:
a=("a","b","c","d")
b=('e','f','g','h')
d=(1,2,3)
c=a+b+d
print(c)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 1, 2, 3)

# Tasks

## program to convert given tuple into string

In [ ]:
t=('a','b')
d="".join(t)
print(d)

## Python program to reverse the given elements in tuple

In [43]:
t=('a','b','c')
t2=t[::-1]
print(t2)

('c', 'b', 'a')

## Python program to print names in tuples using iterations

In [47]:
t=('baru','jaya','tripura')
for i in range(len(t)):
    print(t[i])

baru
jaya
tripura

# Sets
- set is a unordered and un indexed list

In [50]:
s={1,2,3,4,1}
s

{1, 2, 3, 4}

In [51]:
names={"kushi","arnav","ohani"}
for i in names:
    print(i)

kushi
ohani
arnav

## Searching

In [52]:
print("kushi" in names)

True

- add()
- update()
- len()
- remove()
- discard()
- pop()

In [54]:
names.add("bakesunjo")
print(names)

{'kushi', 'ohani', 'arnav', 'bakesunjo'}

In [55]:
names.update(["nikki","kabir"])
print(names)

{'arnav', 'ohani', 'bakesunjo', 'kushi', 'kabir', 'nikki'}

In [57]:
print(len(names))

6

In [58]:
names.remove("kabir")
print(names)

{'arnav', 'ohani', 'bakesunjo', 'kushi', 'nikki'}

In [59]:
names.discard("ohani")
print(names)

{'arnav', 'bakesunjo', 'kushi', 'nikki'}

In [60]:
names.pop()
print(names)

{'bakesunjo', 'kushi', 'nikki'}

In [61]:
names.clear()
print(names)

set()

In [65]:
s={1,2,3}
del s
print(s)

NameError: name 's' is not defined

# Union and Intersection

In [69]:
s1={1,2,3}
s2={4,5,6,3}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6}
{3}

In [70]:
s2.difference(s1)

{4, 5, 6}

In [72]:
s1.difference_update(s2)
print(s1)

{1, 2}

In [74]:
s1={1,2,3}
s2={1,2,4,5,3}
s1.issubset(s2)

True

In [75]:
s1.symmetric_difference(s2)

{4, 5}

# Task

In [80]:
s1={1,3,5,4}
s2={4,5,3,2}
s1.intersection_update(s2)
print(s1)

{3, 4, 5}

In [83]:
s1={1,2,4}
s2={2,4,2}
s1.isdisjoint(s2)

False

In [84]:
s1.issuperset(s2)

True

In [86]:
s1.symmetric_difference(s2)

{1}

In [88]:
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 4}

# Packages and Modules

Package -collection of Modules
Module - A single python file containing functions
package-->subpackage-->module-->funciton

## module

In [91]:
def baru(name):
    print("venky"+name)
baru("tripura")

venkytripura

In [92]:
import firstmodule
firstmodule.print("hi")

ModuleNotFoundError: No module named 'firstmodule'

In [ ]:
import firstmodule as mod

In [94]:
from math import floor as f1
f1(0.34)
f1(33.2)

33

In [99]:
import random

def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
rand(10,1,100)

64 67 5 50 32 3 1 88 96 32

In [102]:
from Packages.numerical import isPrime
isPrime(3)

ModuleNotFoundError: No module named 'Packages'

In [103]:
from math import sqrt as s
print(s(4))

2.0